:root {
  font-size: 67.5%;

  --blue: #065e7c;
  --white: #fff;
  --dark-text: #202024;
  --darker-text: #121214;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
